[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TDbasedUFE"]
	path = TDbasedUFE
	url = https://github.com/tagtag/tdbasedufe
[submodule "TDbasedUFEadv"]
	path = TDbasedUFEadv
	url = https://github.com/tagtag/tdbasedufeadv
